<footer class="footer footer-expand-lg bg-color4b4a42 mt-5" data-bs-theme="dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2 mt-5">
                <div class="align-items-center justify-content-center">
                    <div class="d-flex justify-content-center">
                        <a href="#"><p>Política de privacidad</p></a>
                        <div class="vr me-2 ms-2" style="height: 0.5em;vertical-align: baseline;color: #e7c84b;"></div> 
                        <a href="#"><p>Política de cookies</p></a>
                    </div>
                    <p class="d-flex justify-content-center"> 2024 @ All rights reserved</p>
                    <hr>
                    <p class="d-flex justify-content-center"><img src="{{ site.url | relative_url }}/images/drawing-1.png" height="15px"</p>
                </div>
            </div>
        </div>
    </div>  
<footer>