<div class="sticky-top">
    <div class="container-fluid bg-color4b4a42 title-wrapper-sidebar text-center mt-5 mb-2 sticky-top">
        <h5 class="antonregular"><i class="fa-solid fa-headphones me-2"></i> Audios</h5>
    </div>

    {% for post in site.categories.Audio-carvedeportiva linit: 5 %}

        <div class="container-fluid mt-3 archivo700 outside-image cat-and-sidebar">
            
            <div class="img-embed">
                <div class="d-flex">
                    <div class="image-sidebar">
                        <span class="text-muted post-date-extra-small post-date-font mb-0">{{ post.date_es }}</span>
                        <img class="me-1" src="{{ post.image2 }}" width="120px" height="auto" style="vertical-align: baseline;">
                    </div>
                    <div class="title-extra-small mt-4">
                        
                        <a href="{{ site.url | relative_url }}{{ post.url }}"><p>{{ post.title }}</p></a>
                    </div>
                </div>
            </div>

        </div>

    {% endfor %}
</div>